:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color: #0f0f0f98;
  --hover-color: #24c8db;
  --margins: 5px;
  --border-radius: 10px;
  --large-text: 20px;
  --small-text: 17px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

.grid { 
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 70% 30%;

  position: absolute;
  top: 10px;
  left: 10px;

  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

.button_container{
  display: flex;
  flex-direction: row;
  margin: 0;
}

#playlist_link, #download_button, #playlist_items, #add_button{
  margin: var(--margins);
  background-color: var(--color);
}

#playlist_link, #download_button, #add_button {
  font-size: var(--large-text);
}

#download_button{
  width: 90%;
}

#add_button{
  width: auto;
}

#playlist_items{
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: var(--border-radius);
  overflow-y: scroll;
}
#config {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: var(--margins);
}

#folderSelect{
  height: 10%;
  width: 100%;
  font-size: var(--large-text);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



#threadCount{
  background-color: var(--color);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--large-text);
  margin-bottom: 10px;
}

#threadText {
  width: 75%;
  margin-left: 5%;
}

#threadUpButton, #threadDownButton {
  background-color: var(--color);
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
#threadUpButton:hover, #threadDownButton:hover{
  background-color: var(--hover-color);
  transition: all 0.25s ease-in-out;
}

#threadUpButton {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

#threadDownButton {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

p { margin: 0; }


.track { 
  background-color: var(--color);
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  font-size: var(--small-text);
}

.trackName{
  flex: 1;
  position: relative;
  left: 20px;
}
.trackStatus{
  position: relative;
  right: 100px;
}

#lol{ 
  height: 110vh;
  position: absolute;
  left: 0;
  top: 0;
}

.container{ 
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#playlist_image {
  width: 90%;
  aspect-ratio: 1/1;
  align-self: center;
  margin: var(--margins);
}

#playlist_select { 
  width: 100%;
  flex-grow: 1;
  border-radius: var(--border-radius);
  background-color: var(--color);
}

.playlist { 
  width: 100%;
  height: 15%;
  background-color: var(--color);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--hover-color);
}

.playlist:hover { 
  background-color: #1b1b1b;
  
}

.playlist_image {
  position: relative;
  left: 7px;
  aspect-ratio: 1/1;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
.playlist_content_container { 
  margin-left: 14px;
  flex: 1;
}

.playlist_options { 
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: center;
  align-items: center;
  font-size: var(--large-text);
  height: 100%;
}

.playlist_button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  transition: all 0.25s ease-in-out;
}
.playlist_button:hover {
  background-color: var(--hover-color);
  transition: all 0.25s ease-in-out;
}